body{
    margin: 0%;
    background: #000000;
}
#backround-image{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
    color:#000000;
}
.block_player{
    position: absolute;
    height: 300pt;
    width: 250pt;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}
.box{
    position: absolute;
    height: 50%;
    width: 103%;
    background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
    z-index: 4;
    bottom: -17%;
}
#image_album{
    position: absolute;
    width: 103%;
    top: -7%;
    transition: 1s;
    z-index: 3;
}
#play_pause{
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    bottom: 15%;
    z-index: 4;
    font-size: 53px;
    left: 9%;
    transition: .3s;
}
#previous_song, #next_song {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
    transition: .3s;
}
#next_song{
    right: 10%;
}
#previous_song{
    right: 10.3%;
    bottom: 21.5%;
}
#previous_song:hover, #next_song:hover, #play_pause:hover{
    filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(427%) hue-rotate(172deg) brightness(92%) contrast(95%);
}
.name_artist{
    position: absolute;
    color:rgb(193, 255, 6);
    z-index:4;
    font-family: 'Montserrat', sans-serif;
    bottom: 21%;
    left:28%;
    font-size: 20px;
    font-weight: bold;
}
.title_song{
    position: absolute;
    color:white;
    z-index: 4;
    font-size:17px ;
    font-family: 'Montserrat', sans-serif;
    bottom: 16%;
    left:28%
}
#progress_bar{
    -webkit-appearance: none;
    position: absolute;
    appearance: none;
    z-index: 4;
    height: 5px;
    background-color: #000000;
    width: 160pt;
    bottom: 5%;
    left: 17%;
    accent-color:rgba(178, 231, 19, 0.893); /*przycisk*/
    
}
#progress_bar::-webkit-slider-runnable-track {
    accent-color:rgba(140, 154, 97, 0.893);
}
#progress_bar:focus{
    outline: none;
}
